<a href="https://colab.research.google.com/github/naashonomics/openai/blob/main/PandasAI_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PandasAI

Pandas AI is a Python library that adds generative artificial intelligence capabilities to Pandas, the popular data analysis and manipulation tool.

Here is a very simple demo about how it work!

First of all we install the dependencies:

In [30]:
!pip install --upgrade pandas pandasai

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Collecting pandas
  Using cached pandas-2.0.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
Requirement already satisfied: pandasai in /usr/local/lib/python3.10/dist-packages (1.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: astor<0.9.0,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from pandasai) (0.8.1)
Requirement already satisfied: ipython<9.0.0,>=8.13.1 in /usr/local/lib/python3.10/dist-packages (from pandasai) (8.14.0)
Requirement already satisfied: matplotlib<4.0.0,>=3.7.1 in /usr/local/lib/python3.10/dist-packages (from pandasai) (3.7.1)
Requirement already satisfied: openai<0.28.0,>=0.27.5 in /usr/local/lib/python3.10/dist-packages (from pandasai) (0.27.8)
Requirement already satisfied: pydantic<2,>=1 in /usr/local/lib/python3.10/dist-packages (from pandasai) (1.10.12)
Requirement already satisfied: python-dotenv<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pandasai) (1.0.0)
Requirement already satisfied: scipy<2.0.0,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from pandasai) (1.10.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (4.4.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (0.19.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (0.1.6)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (2.16.1)
Requirement already satisfied: stack-data in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (0.6.2)
Requirement already satisfied: traitlets>=5 in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (4.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (3.1.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai<0.28.0,>=0.27.5->pandasai) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai<0.28.0,>=0.27.5->pandasai) (4.66.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai<0.28.0,>=0.27.5->pandasai) (3.8.5)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1->pandasai) (4.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython<9.0.0,>=8.13.1->pandasai) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython<9.0.0,>=8.13.1->pandasai) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython<9.0.0,>=8.13.1->pandasai) (0.2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai<0.28.0,>=0.27.5->pandasai) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai<0.28.0,>=0.27.5->pandasai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai<0.28.0,>=0.27.5->pandasai) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai<0.28.0,>=0.27.5->pandasai) (2023.7.22)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (1.3.1)
Requirement already satisfied: executing>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from stack-data->ipython<9.0.0,>=8.13.1->pandasai) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from stack-data->ipython<9.0.0,>=8.13.1->pandasai) (2.2.1)
Requirement already satisfied: pure-eval in /usr/local/lib/python3.10/dist-packages (from stack-data->ipython<9.0.0,>=8.13.1->pandasai) (0.2.2)

Now we import the dependencies:

In [31]:
import pandas as pd
import numpy as np
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI

In [24]:
class MyPandasAI(PandasAI):
    def chat(self, df, prompt):
        # Get the answer from the OpenAI API
        answer = self.llm.chat(prompt)

        # Return the answer
        return answer

We instanciate the llm (in this case OpenAI). Remember to change the API key with you OpenAI api key.

In [32]:
OPENAI_API_KEY = "YOUR OPEN AI KEY"
llm = OpenAI(api_token=OPENAI_API_KEY)
pandas_ai = MyPandasAI(llm)

We create a dataframe using pandas:

In [29]:
data_dict = {
    "country": [
        "Delhi",
        "Mumbai",
        "Kolkata",
        "Chennai",
        "Jaipur",
        "Lucknow",
        "Pune",
        "Bengaluru",
        "Amritsar",
        "Agra",
        "Kola",
    ],
    "annual tax collected": [
        19294482072,
        28916155672,
        24112550372,
        34358173362,
        17454337886,
        11812051350,
        16074023894,
        14909678554,
        43807565410,
        146318441864,
        np.nan,
    ],
    "happiness_index": [9.94, 7.16, 6.35, 8.07, 6.98, 6.1, 4.23, 8.22, 6.87, 3.36, np.nan],
}

df = pd.DataFrame(data_dict)
df.head(10)

     country  annual tax collected  happiness_index
0      Delhi          1.929448e+10             9.94
1     Mumbai          2.891616e+10             7.16
2    Kolkata          2.411255e+10             6.35
3    Chennai          3.435817e+10             8.07
4     Jaipur          1.745434e+10             6.98
5    Lucknow          1.181205e+10             6.10
6       Pune          1.607402e+10             4.23
7  Bengaluru          1.490968e+10             8.22
8   Amritsar          4.380757e+10             6.87
9       Agra          1.463184e+11             3.36

Initialize an instance of pandasai

Trying pandas features using pandasai
Prompt 1: Finding index of a value

In [ ]:
# finding index of a row using value of a column
response = pandas_ai(df, "What is the index of Pune?")
print(response)

Prompt 2: Using Head() function of DataFrame

In [34]:
response = pandas_ai(df, "Show the first 5 rows of data in tabular form")
print(response)

   country  annual tax collected  happiness_index
0    Delhi          1.929448e+10             9.94
1   Mumbai          2.891616e+10             7.16
2  Kolkata          2.411255e+10             6.35
3  Chennai          3.435817e+10             8.07
4   Jaipur          1.745434e+10             6.98

Using Tail() function of DataFrame

In [35]:
response = pandas_ai(df, "Show the last 5 rows of data in tabular form")
print(response)

      country  annual tax collected  happiness_index
6        Pune          1.607402e+10             4.23
7   Bengaluru          1.490968e+10             8.22
8    Amritsar          4.380757e+10             6.87
9        Agra          1.463184e+11             3.36
10       Kola                   NaN              NaN

Prompt 4: Using describe() function of DataFrame

In [36]:
response = pandas_ai(df, "Show the description of data in tabular form")
print(response)

       annual tax collected  happiness_index
count          1.000000e+01        10.000000
mean           3.570575e+10         6.728000
std            4.010314e+10         1.907149
min            1.181205e+10         3.360000
25%            1.641910e+10         6.162500
50%            2.170352e+10         6.925000
75%            3.299767e+10         7.842500
max            1.463184e+11         9.940000

Prompt 5: Using the info() function of DataFrame

Prompt 6: Using shape attribute of dataframe

Prompt 7: Finding any duplicate rows

In [38]:
response = pandas_ai(df, "Are there any duplicate rows?")
print(response)

No duplicate rows found.

Prompt 8: Finding missing values

In [39]:

response = pandas_ai(df, "Are there any missing values?")
print(response)

Missing values: [2]

Prompt 9: Drop rows with missing values

Prompt 10: Print all column names

In [41]:

response = pandas_ai(df, "List all the column names")
print(response)

country, annual tax collected, happiness_index

Prompt 11: Rename a column

In [42]:
response = pandas_ai(df, "Rename column 'country' as 'Country' keep inplace=True and list all column names")
print(response)

['Country', 'annual tax collected', 'happiness_index']

Prompt 12: Add a row at the end of the dataframe

In [43]:
response = pandas_ai(df, "Add the list: ['Noida',None,None] at the end of the dataframe as last row keep inplace=True")
print(response)

None

Prompt 13: Replace the missing values

In [44]:
response = pandas_ai(df, """Fill the NULL values in dataframe with 0 keep inplace=True
and the print the last row of dataframe""")
print(response)

   Country  annual tax collected  happiness_index
11   Noida                   0.0              0.0
   Country  annual tax collected  happiness_index
11   Noida                   0.0              0.0
None

Prompt 14: Calculating mean of a column

In [45]:
response = pandas_ai(df, "What is the mean of annual tax collected")
print(response)

29754788369.666668

Prompt 15: Finding frequency of unique values of a column

Prompt 16: Dataframe Slicing

In [47]:

response = pandas_ai(df, "Show first 3 rows of columns 'Country' and 'happiness index'")
print(response)

   Country  happiness_index
0    Delhi             9.94
1   Mumbai             7.16
2  Kolkata             6.35

Prompt 17: Using pandas where function

In [48]:
response = pandas_ai(df, "Show the data in the row where 'Country'='Mumbai'")
print(response)

  Country  annual tax collected  happiness_index
1  Mumbai          2.891616e+10             7.16

Prompt 18: Using pandas where function with a range of values

In [49]:

response = pandas_ai(df, "Show the rows where 'happiness index' is between 3 and 6")
print(response)

  Country  annual tax collected  happiness_index
6    Pune          1.607402e+10             4.23
9    Agra          1.463184e+11             3.36

Prompt 19: Finding 25th percentile of a column of continuous values

In [50]:

response = pandas_ai(df, "What is the 25th percentile value of 'happiness index'")
print(response)

4.0125